:root {
    --cor1: #f06adb;
    --cor2: #c24ff0;
    --cor3: #ffd893;
    --cor4: #292929;
    --cor5: #7c7a7d;
    --cor6: #2E2E2E;
    --cor7: #ffffff;
    --cor9:#10041D;
  
  
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-quik: "Quicksand", sans-serif;
    --font-family-mono: "Roboto Mono", monospace;
    --font-family-codec: "Source Code Pro", serif;
  }


  html{
    scroll-behavior: smooth;
  }


  .fundo-titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    

    
    
}

  
  

    
  
  
 