:root {
    --cor1: #f06adb;
    --cor2: #c24ff0;
    --cor3: #ffd893;
    --cor4: #292929;
    --cor5: #7c7a7d;
    --cor6: #2E2E2E;
    --cor7: #ffffff;
    --cor9:#10041D;
  
  
    --font-family-roboto: "Roboto", sans-serif;
    --font-family-quik: "Quicksand", sans-serif;
    --font-family-mono: "Roboto Mono", monospace;
    --font-family-codec: "Source Code Pro", serif;
  }


  html{
    scroll-behavior: smooth;
  }


  .fundo-titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    

    
    
}

/* Oculta o menu desktop por padrão */
.menu-desktop {
  display: none;
}

/* Oculta o botão hamburger por padrão */
.menu-mobile {
  display: none;
}

/* TELAS MAIORES QUE 480px (desktop, tablet, etc) */
@media screen and (min-width: 481px) {
  .menu-desktop {
    display: flex; /* ou block, dependendo do seu layout */
  }

  .menu-mobile {
    display: none;
  }
}

/* TELAS DE ATÉ 480px (celular) */
@media screen and (max-width: 480px) {
  .menu-desktop {
    display: none;
  }

  .menu-mobile {
    display: block; /* ou flex, dependendo do estilo do botão */
  }
}


  
  

    
  
  
 